@model List<ATRS.Context.Flight>
@{
    ViewBag.Title = "FlightList";
}

<h2>FlightList</h2>

<table class="table table-hover">
    <tr>
        <th>Flight No</th>
        <th>Aircraft</th>
        <th>Source</th>
        <th>Layover</th>
        <th>Destination</th>
        <th>Airline</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    
    @foreach (var item in Model)
    {
       <tr>
            <td>@item.FlightNumber</td>
            <td>@item.Aircraft</td>
            <td>@item.Origin</td>
            <th>@item.Layover || @item.Layoverdatetime</th>  
            <td>@item.Destination</td>
            <td>@item.Airline</td>
            <td>@item.Startdatetime</td>
            <td>@item.Enddatetime</td>
            <td>
                <a href="@Url.Action("Book","Reservation", new { item.FlightNumber, item.Origin, item.Destination , item.Layover })" class="btn btn-success">Book</a>
            </td>
       </tr>
    }

</table>